<div class="container-fluid ">
  <!-- <div class="row line">
  <img src="images/line.jpg" class="img-resopnsive ">	 
  </div> -->
  <div class="row header pricing">
    <div class="col-md-12 col-sm-12 col-xs-12 no_pad">
      <div class="col-md-2 col-sm-2 col-xs-6">
        <a href="index.html"><img src="images/insidepagelogo.png" class="img-responsive"></a>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-12 mainmenurespon">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid no_pad">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse no_pad" id="myNavbar">
              <ul class="nav navbar-nav insidemenu">
                <li>
                  <a href="pricing.html">Pricing</a>
                </li>
                <li>
                  <a href="integration.html">Integrations</a>
                </li>
                <li>
                  <a href="partner.html">Partners</a>
                </li>
                <li>
                  <a href="ourstory.html">Our story</a>
                </li>
                <li>
                  <a href="blog.html">Blog</a>
                </li>
                <li>
                  <a href="faq.html">FAQ</a>
                </li>
                <li class="active">
                  <a href="findjobs.html">Find jobs</a>
                </li>
                <li>
                  <a href="login.html">Log in</a>
                </li>
                <li class="getstarted">
                  <a href="getstarted.html">Get started</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="col-md-12  col-sm-12 col-xs-12 insidebnrtxt">
        <h1>Find a job that makes you happy</h1>
        <p>Search or browse jobs across Australia and apply!</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row jobsearchmaindiv">
    <div class="container ">
      <div class="col-md-offset-1 col-md-10 col-sm-offset-1  col-sm-10 col-xs-12 findjobssearch">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <input type="text" class="form-control" placeholder="Keywords">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="dropdown show search-clasi">
            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Classification
	<img src="images/updownarrow.png" class="pull-right">
  </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Classification 1</a>
              <a class="dropdown-item" href="#">Classification 2</a>
              <a class="dropdown-item" href="#">Classification 3</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="dropdown show search-clasi">
            <a class="btn btn-secondary dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Location
	<img src="images/updownarrow.png" class="pull-right">
  </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Location 1</a>
              <a class="dropdown-item" href="#">Location 2</a>
              <a class="dropdown-item" href="#">Location 3</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <button type="button" class="btn searchsbmt form-control ">
            Search <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row employmenttype">
    <div class="container nopadding">
      <div class="col-md-12 col-xs-12 col-sm-12 text-center nopadding">
        <div class="dropdown findjobdrop ">
          <button class="dropbtn">All employment types<img src="images/selectpayarrow.png"></button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <div class="dropdown selectpay">
          <span>paying</span>
          <select>
            <option>$ 0.00</option>
            <option>$ 10.00</option>
            <option>$ 20.00</option>
            <option>$ 30.00</option>
            <option>$ 120.00</option>
          </select>
        </div>
        <div class="dropdown selectpay">
          <span>to</span>
          <select>
            <option>$ 0.00</option>
            <option>$ 10.00</option>
            <option>$ 20.00</option>
            <option>$ 30.00</option>
            <option>$ 120.00</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row job titlesdiv">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 jobtitlmain">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <a href="jobsearchinside.html"><h3>Job title lorum ipsum</h3></a>
          <h5>Company name</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#" class="jobbtnserch">Full-time</a>
          <a href="#" class="jobbtnserch">Location</a>
          <a href="#" class="jobbtnserch">Salary</a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <a href="#" class="btn btnapplunow">Apply Now</a>
          <div class="col-md-12 col-sm-12 col-xs-12 jobtitlimg">
            <img src="images/jobtitlimg.png" class="img-responsive center-block">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 jobtitlmain">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <a href="jobsearchinside.html"><h3>Job title lorum ipsum</h3></a>
          <h5>Company name</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#" class="jobbtnserch">Full-time</a>
          <a href="#" class="jobbtnserch">Location</a>
          <a href="#" class="jobbtnserch">Salary</a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <a href="#" class="btn btnapplunow">Apply Now</a>
          <div class="col-md-12 col-sm-12 col-xs-12 jobtitlimg">
            <img src="images/jobtitlimg1.png" class="img-responsive center-block">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 jobtitlmain">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <a href="jobsearchinside.html"><h3>Job title lorum ipsum</h3></a>
          <h5>Company name</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#" class="jobbtnserch">Full-time</a>
          <a href="#" class="jobbtnserch">Location</a>
          <a href="#" class="jobbtnserch">Salary</a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <a href="#" class="btn btnapplunow">Apply Now</a>
          <div class="col-md-12 col-sm-12 col-xs-12 jobtitlimg">
            <img src="images/jobtitlimg2.png" class="img-responsive center-block">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 jobtitlmain">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <a href="jobsearchinside.html"><h3>Job title lorum ipsum</h3></a>
          <h5>Company name</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a href="#" class="jobbtnserch">Full-time</a>
          <a href="#" class="jobbtnserch">Location</a>
          <a href="#" class="jobbtnserch">Salary</a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <a href="#" class="btn btnapplunow">Apply Now</a>
          <div class="col-md-12 col-sm-12 col-xs-12 jobtitlimg">
            <img src="images/jobtitlimg3.png" class="img-responsive center-block">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <nav aria-label="Page navigation example " class="pagination12">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="pageactive"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li>
              <a class="page-link" href="#" aria-label="Next">
        <span class="glyphicon glyphicon-chevron-right"></span>
       
      </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row hranxitymain">
    <div class="container">
      <div class="col-md-offset-1 col-md-10 hranxity">
        <h4>Are you a business owner? Sign up for HappyHR™</h4>
        <a href="#" class="btn btn-info bookdemo">Get Started</a>
        <a href="#" class="btn btn-info getstart">Book a demo</a>
      </div>
    </div>
  </div>
  <div class="row bottmftr">
    <div class="container">
      <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
        <div class="col-md-2 col-sm-2 col-xs-6 ftrlist">
          <h4 class="ftrprd">PRODUCT</h4>
          <ul>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="partner.html">Partners</a></li>
            <li><a href="integration.html">Integrations</a></li>
            <li><a href="demo.html">Demo</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 ftrlist">
          <h4 class="ftrler">LEARNING</h4>
          <ul>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="videos.html">Videos</a></li>
            <li><a href="ourstoy.html">Our story</a></li>
            <li><a href="casestudies.html">Case studies</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 ftrlist">
          <h4 class="ftrhelp">HELP</h4>
          <ul>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 ftrlist">
          <h4 class="ftrjob">JOB SEEKERS</h4>
          <ul>
            <li><a href="findjobs.html">Find jobs</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 ftrlist">
          <h4 class="ftrlegal">LEGAL</h4>
          <ul>
            <li><a href="privacy.html">Privacy</a></li>
            <li><a href="terms.html">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row bottomcont">
    <div class="col-md-3 col-sm-3 col-xs-12 contcftr">
      <h4>Contact us:</h4>
      <a href="#" target="_blank"><img src="images/message.png"></a>
      <a href="#" target="_blank"><img src="images/phone.png"></a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 socialftr">
      <a href="#" target="_blank"> <img src="images/facebook.png"></a>
      <a href="#" target="_blank"><img src="images/twitter.png"></a>
      <a href="#" target="_blank"> <img src="images/linkedin.png"></a>
      <a href="#" target="_blank"><img src="images/utube.png"></a>
      <a href="#" target="_blank"><img src="images/googleplus.png"></a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 appdwnld">
      <a href="#" target="_blank"><img src="images/googleplay.png" class="img-responsive"></a>
      <a href="#" target="_blank"><img src="images/appstore.png" class="img-responsive"></a>
    </div>
  </div>
  <div class="row bottomcont">
    <div class="col-md-8 col-sm-8 col-xs-12 copyright">
      <p>Content © 2017 All Rights Reserved. “Happy HR” & “Its HR made happy” are a worldwide registered trademarks of Happy HR Pty Ltd.</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 webdesign text-right">
      <p>Website designed by</p>
      <a href="#"><img src="images/yump.png"></a>
    </div>
  </div>
</div>